* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: black !important;
    text-decoration: none;
    list-style: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-final{
    width: 50%;
    padding: 5px;
}
